<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Projekt</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>


        <!-- Mapping files will go here.... -->

        <mapping class="projektKompetencyjny.Rodzic"/>
        <mapping class="projektKompetencyjny.Nauczyciel"/>
        <mapping class="projektKompetencyjny.Uczen"/>
        <mapping class="projektKompetencyjny.Klasa"/>
        <mapping class="projektKompetencyjny.Rodzic"/>
        <mapping class="projektKompetencyjny.Przedmiot"/>
        <mapping class="projektKompetencyjny.Dzien"/>
        <mapping class="projektKompetencyjny.Godzina"/>
        <mapping class="projektKompetencyjny.Lekcja"/>
        <mapping class="projektKompetencyjny.Oceny"/>
        <mapping class="projektKompetencyjny.Plan"/>
        <mapping class="projektKompetencyjny.Relacje"/>
        <mapping class="projektKompetencyjny.Uczy"/>
        <mapping class="projektKompetencyjny.Event"/>
        <mapping class="projektKompetencyjny.Uwaga"/>
        <mapping class="projektKompetencyjny.Wiadomosci"/>
        <mapping class="projektKompetencyjny.Admin"/>

    </session-factory>
</hibernate-configuration>